body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.selectedGlass {
  position: absolute;
  top: 145px;
  left: 115px;
}

.model-container {
  position: relative;
}

.selectedGlass img {
  opacity: 0.9;
}

.glassInfo {
  position: relative;
  background-color: orange;
  opacity: 0.6;
  top: 220px;
  right: 100px;
}

.glassInfo h3 {
  color: blue;
}

.glassInfo span {
  color: red;
  font-size: 20px;
}

.glassInfo p {
  color: white;
}
